.modalItem{
    font-size: 18px;
    text-justify: center;

    Form label{
        font-size: 20px;
    }

    .rootListContainer{
        padding-top: 20px;

        .rootList{
            padding: 10px;
        }

    }

}

