.adminMatCode {
    .adminWrapper {
        .adminItems {
            padding: 20px;

            .adminItemWrapper {
                height: 0px;
                transition: 0.5s;
                overflow: hidden;
                padding: 10px 20px 0px 20px;
                margin-top: 10px;

                &.active {
                    height: 150px;
                    transition: 0.5s;
                }
            }

            .adminItemsContainer {
                padding: 10px 0;

                .matCodeDataList {
                    height: 635px;
                }
            }
        }
    }
}