
.adminMatCodeItem{
    padding: 20px;
}

.adminMatCodeItemWrapper {
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
}

.adminMatCodeItemWrapper.active{
    padding-top: 10px;
    height: 150px;
    transition: 0.5s;
    -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.28);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.28);
    border-radius:10px;
}

.matCodeDataList{
    height:635px;
}

.adminMatCodeItemContainer{
    padding: 10px 0;
}

.notice{
    color: var(--error);
}