
.adminProductCodeItem{
    padding: 20px;
}

.adminProductCodeItemWrapper {
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
}

.adminProductCodeItemWrapper.active{
    height: 150px;
    padding-top: 10px;
    transition: 0.5s;
    -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.28);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.28);
    border-radius:10px;
}

.productCodeDataList{
    height:635px;
}

.adminProductCodeItemContainer{
    padding: 10px 0;
}

.productGridEdit{
    color: var(--success);
    cursor: pointer;
}

.productGridDelete{
    color:  var(--error);
    cursor: pointer;
}

.productGridEdit:hover,
.productGridDelete:hover{
    color : var(--hoverColor) ;
}

.checkboxStyle{
    text-align:left;
    margin-top: 20px;
    line-height: 25px;
}


@media(max-width:768px) {
    .adminProductCodeItemWrapper.active{
        height: auto;
    }

}
