.adminProductCode {
    .adminWrapper {
        .adminItems {
            padding: 20px;

            .adminItemWrapper {
                height: 0px;
                transition: 0.5s;
                overflow: hidden;

                &.active {
                    height: 150px;
                    padding-top: 10px;
                    transition: 0.5s;
                    -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.28);
                    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.28);
                    border-radius: 10px;
                }

                .checkboxStyle {
                    text-align: left;
                    margin-top: 20px;
                    line-height: 25px;
                }
            }

            .adminItemContainer {
                padding: 10px 0;

                .productCodeDataList {
                    height: 635px;
                }

            }
        }
    }
}


@media(max-width:768px) {
    .adminProductCode {
        .adminItemWrapper.active {
            height: auto;
        }
    }
}