.product {
    .productWrapper {
        padding: 10px;
        display: flex;

        .adminProductItem {
            margin: 0px 20px 20px 20px;
            padding: 25px;
            background: var(--background-color);
           
        }

        .adminProductItemTitle {
            font-size: 24px;
            font-weight: 400;
            margin: 10px;
            color: var(--fontSubColor);
        }

        .maListItemCol {
            font-size: 18px;
            margin: auto;
        }

        /* datepicker */
        .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
            background: var(--white) !important;
        }

        .adminProductBodyLeft {
            width: 30vw;
            min-width: 400px;
            max-width: 30vw;

            .adminProductItem {
                width: 100%;

            }
        }

        .adminProductBodyRight {
            width: 50vw;
            min-width: 700px;
            padding-left: 30px;
            display: flex;
            flex-direction: column;

            .adminProductSendBtn {
                padding: 10px;
                align-self: flex-end;
                background-color:var(--mainColor);
            }

            .adminProductItem {
                width: 100%;
            }

        }
    }
}


@media screen and (max-width: 1573px) {}