* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 12px;
}

:root {
    --mainColor: #b3d6dd;
    --subColor: #f1c270;
    --hoverColor: #64b4c2;
    --fontMainColor: #835a31;
    --fontSubColor: #1c1c1c;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --success: #90B44B;
    --error:#EB7A77;
}

.appContainer {
    display: flex;
}

.appBody {
    top: 0;
    width:100vw ;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.Link {
    text-decoration: none;
    color: inherit;
}
/* ========================================================================== */

/*  frostedGlass */
.frostedGlass {
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
    background: rgba(255, 255, 255, 0.6) !important;
}

/* ========================================================================== */

/* btn-main */
.btn-main {
    background-color: var(--mainColor) !important;
    border-color: var(--white) !important;
}

.btn-main:hover {
    background-color: var(--hoverColor) !important;
    border-color: var(--mainColor) !important;
}

.PageTitle {
    position: relative;
    display:inline-block;
    font-weight: 600;
    font-size: 32px;
    color: var(--fontMainColor);
    padding: 20px;
}

/* ========================================================================== */

/* 修改  input(number) css style start */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 同上，依Firefox修改 */
input[type=number] {
  -moz-appearance: textfield;
}
/* input(number) css style end */

/* ========================================================================== */

/* Page Title Start  */
.itemTitle{
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    color: var(--fontSubColor);
    cursor: pointer;
    text-decoration: none;
} 
/* Page Title End  */

/* Page Title Rotate Icon Start  */
.itemIconRotate{
    font-size: 28px !important;
    transform: rotate(900deg);
}

.itemIconRotate.active{
    transition: 0.5s ease-in;
    transform: rotate(0deg);
}

.itemIconRotate.noActive{
    transition: 0.5s ease-in;
    transform: rotate(900deg);
}
/* Page Title Rotate Icon End  */

/* ========================================================================== */

.btn{
    margin: 5px 5px;
}

.btnGroup Button{
    margin-left: 5px;
}

/* ========================================================================== */

.matDataList{
    height:635px;
}

/* ========================================================================== */
