.adminMatManage {
    .adminWrapper {
        .adminItems {
            padding: 20px;

            .adminItemWrapper {
                height: 0px;
                transition: 0.5s;
                overflow: hidden;
                padding: 10px 20px 0px 20px;
                margin-top: 10px;

                .insertRow {
                    padding: 5px 0;
                }

                &.active {
                    height: 370px;
                    transition: 0.5s;

                }

                &.search {
                    &.active {
                        height: 300px;
                    }
                }
            }


        }
    }
}

@media screen and (max-width: 820px) {
    .adminMatManage {
        .adminWrapper {
            .adminItems {
                .matDataList {
                    Button {
                        min-width: 40px !important;
                    }
                }
            }
        }
    }
}